.book-btn{
   
    background-color: rgba(20, 19, 19, 0.973);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 70px;
  
  }

  .book-btn:hover{
    background-color: black;
    color: white;
    
  }

